@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600; /* Semi-Bold */
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600; /* Semi-Bold Italic */
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900; /* Black */
  src: url("../fonts/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900; /* Black Italic */
  src: url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
}
